Repository mcfitz2/terraform-provider-pbs: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-quick-datastore, integration-s3-aws, integration-s3-b2, integration-s3-scaleway, vm-integration-tests

.codecov.yml:

# Codecov Configuration
# See: https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: auto          # Maintain current coverage level
        threshold: 1%         # Allow coverage to drop by 1%
        if_ci_failed: error   # Fail if CI fails
    
    patch:
      default:
        target: 70%           # Require 70% coverage on new code
        threshold: 5%         # Allow some flexibility

  precision: 2                # Show coverage to 2 decimal places
  round: down                 # Round coverage percentages down
  range: "60...100"           # Color scale from 60% (red) to 100% (green)

# Pull request comments
comment:
  layout: "header, diff, flags, files, footer"
  behavior: default           # Post new comment on each push
  require_changes: false      # Always comment, even if coverage unchanged
  require_base: false         # Don't require base coverage to exist
  require_head: true          # Require head coverage to exist

# Ignore certain files/paths from coverage
ignore:
  - "test/**/*"               # Don't include test files in coverage
  - "examples/**/*"           # Don't include examples
  - "docs/**/*"               # Don't include documentation
  - "**/*_test.go"            # Don't include test files
  - "**/test_*.go"            # Don't include test helpers
  - "**/*.pb.go"              # Don't include generated protobuf files
  - "**/mock_*.go"            # Don't include mock files

# Coverage flags for different test types
flags:
  unit-tests:
    paths:
      - fwprovider/
      - pbs/
    carryforward: true        # Use previous coverage if test doesn't run
  
  integration-quick-datastore:
    paths:
      - fwprovider/
      - test/integration/
    carryforward: true
  
  integration-s3-aws:
    paths:
      - fwprovider/
      - test/integration/
    carryforward: true
  
  integration-s3-b2:
    paths:
      - fwprovider/
      - test/integration/
    carryforward: true
  
  integration-s3-scaleway:
    paths:
      - fwprovider/
      - test/integration/
    carryforward: true
  
  vm-integration-tests:
    paths:
      - fwprovider/
      - test/integration/
    carryforward: true

# Customize the Codecov GitHub checks
github_checks:
  annotations: true           # Enable inline annotations on PRs

chore: Update gitleaks to allow example Terraform files
  .gitleaks.toml
  docs/issues/issue-5-remotes-implementation-plan.md
  examples/data-sources/pbs_remote_groups/data-source.tf
  examples/data-sources/pbs_remote_namespaces/data-source.tf
  examples/data-sources/pbs_remote_stores/data-source.tf
  examples/resources/pbs_remote/resource.tf
  fwprovider/datasources/remotes/remote_groups.go
  fwprovider/datasources/remotes/remote_namespaces.go
  fwprovider/datasources/remotes/remote_stores.go
  fwprovider/provider.go
  fwprovider/resources/remotes/remote.go
  pbs/client.go
  pbs/remotes/remotes.go
  test/docker-compose.yml
  test/integration/remotes_test.go
  test/run_docker_tests.sh
Due: unit-tests, integration-quick-datastore, integration-s3-aws, integration-s3-b2, integration-s3-scaleway, vm-integration-tests

Update fwprovider/resources/remotes/remote.go
  fwprovider/resources/remotes/remote.go
Due: unit-tests, integration-quick-datastore, integration-s3-aws, integration-s3-b2, integration-s3-scaleway, vm-integration-tests

Update test/integration/remotes_test.go
  test/integration/remotes_test.go
Due: none

Update pbs/remotes/remotes.go
  pbs/remotes/remotes.go
Due: unit-tests

feat: implement comprehensive data source support for PBS resources (Phases 1-4)
  .gitignore
  docs/INTEGRATION_TESTS.md
  docs/PBS_4.0_COMPATIBILITY.md
  docs/PBS_4.0_SCHEMA_CHANGES.md
  docs/PBS_API_COVERAGE_REPORT.md
  fwprovider/datasources/datastores/datastore.go
  fwprovider/datasources/datastores/datastore_test.go
  fwprovider/datasources/datastores/datastores.go
  fwprovider/datasources/datastores/datastores_test.go
  fwprovider/datasources/endpoints/s3_endpoint.go
  fwprovider/datasources/endpoints/s3_endpoint_test.go
  fwprovider/datasources/endpoints/s3_endpoints.go
  fwprovider/datasources/jobs/prune_job.go
  fwprovider/datasources/jobs/prune_job_test.go
  fwprovider/datasources/jobs/prune_jobs.go
  fwprovider/datasources/jobs/prune_jobs_test.go
  fwprovider/datasources/jobs/sync_job.go
  fwprovider/datasources/jobs/sync_job_test.go
  fwprovider/datasources/jobs/sync_jobs.go
  fwprovider/datasources/jobs/sync_jobs_test.go
  fwprovider/datasources/jobs/verify_job.go
  fwprovider/datasources/jobs/verify_job_test.go
  fwprovider/datasources/jobs/verify_jobs.go
  fwprovider/datasources/jobs/verify_jobs_test.go
  fwprovider/datasources/metrics/metrics_server.go
  fwprovider/datasources/metrics/metrics_server_test.go
  fwprovider/datasources/metrics/metrics_servers.go
  fwprovider/datasources/notifications/notification_endpoint.go
  fwprovider/datasources/notifications/notification_endpoints.go
  fwprovider/datasources/notifications/notification_matcher.go
  fwprovider/datasources/notifications/notification_matchers.go
  fwprovider/datasources/notifications/notification_test.go
  fwprovider/provider.go
  fwprovider/resources/metrics/metrics_server.go
  pbs/metrics/metrics.go
  test/integration/datasources_test.go
  test/integration/notifications_test.go
  test/integration/setup.go
  test/run_integration_tests.sh
Due: unit-tests, integration-quick-datastore, integration-s3-aws, integration-s3-b2, integration-s3-scaleway, vm-integration-tests

gofmt changes
  fwprovider/datasources/datastores/datastore.go
  fwprovider/datasources/datastores/datastores.go
  fwprovider/datasources/jobs/prune_job_test.go
  fwprovider/datasources/jobs/prune_jobs.go
  fwprovider/datasources/jobs/sync_job_test.go
  fwprovider/datasources/jobs/sync_jobs.go
  fwprovider/datasources/jobs/verify_job.go
  fwprovider/datasources/jobs/verify_job_test.go
  fwprovider/datasources/jobs/verify_jobs.go
  fwprovider/resources/metrics/metrics_server.go
Due: unit-tests, integration-quick-datastore, integration-s3-aws, integration-s3-b2, integration-s3-scaleway, vm-integration-tests

fix: add mutex to prevent datastore lock contention
  fwprovider/resources/datastores/datastore.go
Due: unit-tests, integration-quick-datastore, integration-s3-aws, integration-s3-b2, integration-s3-scaleway, vm-integration-tests

fix: add retry logic for reading datastore after creation
  fwprovider/resources/datastores/datastore.go
Due: unit-tests, integration-quick-datastore, integration-s3-aws, integration-s3-b2, integration-s3-scaleway, vm-integration-tests

refactor: reduce post-creation sleep from 3s to 1s
  pbs/datastores/datastores.go
Due: unit-tests

fix: refactor mutex usage and improve retry logic for datastore operations
  fwprovider/resources/datastores/datastore.go
Due: unit-tests, integration-quick-datastore, integration-s3-aws, integration-s3-b2, integration-s3-scaleway, vm-integration-tests

fix: increase datastore creation retry limits for slower CI environments
  fwprovider/resources/datastores/datastore.go
Due: unit-tests, integration-quick-datastore, integration-s3-aws, integration-s3-b2, integration-s3-scaleway, vm-integration-tests

debug: add detailed logging to GetDatastore to diagnose CI failures
  fwprovider/resources/datastores/datastore.go
  pbs/datastores/datastores.go
Due: unit-tests, integration-quick-datastore, integration-s3-aws, integration-s3-b2, integration-s3-scaleway, vm-integration-tests

debug: improve logging using Go's log package instead of fmt.Printf
  pbs/datastores/datastores.go
Due: unit-tests

fix: run integration tests sequentially to avoid PBS resource contention
  .github/workflows/vm-integration-tests.yml
  scripts/run-integration-tests.sh
Due: none

refactor: make integration test logging conditional on debug mode
  test/integration/datastore_test.go
  test/integration/integration_test.go
  test/integration/s3_providers.go
  test/integration/setup.go
Due: none

debug: add comprehensive API request/response logging when PBS_DEBUG=1
  fwprovider/resources/datastores/datastore.go
  pbs/api/client.go
  pbs/datastores/datastores.go
Due: unit-tests, integration-quick-datastore, integration-s3-aws, integration-s3-b2, integration-s3-scaleway, vm-integration-tests

ci: add -failfast flag to stop on first test failure
  .github/workflows/vm-integration-tests.yml
  scripts/run-integration-tests.sh
Due: none

fix: restore correct method signature in s3_providers.go
  test/integration/s3_providers.go
Due: none

fix: replace Go log package with tflog for proper debug logging
  pbs/api/client.go
  pbs/datastores/datastores.go
Due: unit-tests

debug: add critical timing logs to stderr for datastore operations
  pbs/datastores/datastores.go
Due: unit-tests

debug: add precise timing logs at provider resource layer
  fwprovider/resources/datastores/datastore.go
Due: unit-tests, integration-quick-datastore, integration-s3-aws, integration-s3-b2, integration-s3-scaleway, vm-integration-tests

test: skip flaky datastore-dependent job data source tests
  test/integration/datasources_test.go
Due: none

delete extra file
  fwprovider/resources/datastores/datastore_test.go
Due: none

run tests in parallel
  .github/workflows/vm-integration-tests.yml
Due: none

test: convert flaky data source tests to native Terraform HCL tests
  .github/workflows/vm-integration-tests.yml
  .gitignore
  .gitleaks.toml
  docs/TFEXEC_TO_HCL_MIGRATION.md
  test/integration/datasources_test.go
  test/tftest/QUICKSTART.md
  test/tftest/README.md
  test/tftest/prune_job_datasource/main.tf
  test/tftest/prune_job_datasource/test.tftest.hcl
  test/tftest/run_hcl_tests.sh
  test/tftest/sync_job_datasource/main.tf
  test/tftest/sync_job_datasource/test.tftest.hcl
  test/tftest/terraform.tfvars.example
Due: none

test: convert TestPruneJobsDataSourceIntegration to HCL test
  .github/workflows/vm-integration-tests.yml
  test/integration/datasources_test.go
  test/tftest/QUICKSTART.md
  test/tftest/README.md
  test/tftest/prune_jobs_datasource/main.tf
  test/tftest/prune_jobs_datasource/test.tftest.hcl
  test/tftest/run_hcl_tests.sh
Due: none

test: convert TestDatastoresDataSourceIntegration to HCL test
  .github/workflows/vm-integration-tests.yml
  test/integration/datasources_test.go
  test/tftest/QUICKSTART.md
  test/tftest/README.md
  test/tftest/datastores_datasource/main.tf
  test/tftest/datastores_datasource/test.tftest.hcl
  test/tftest/run_hcl_tests.sh
Due: none

fix: correct terraform test command syntax - remove unsupported -chdir flag
  .github/workflows/vm-integration-tests.yml
  test/tftest/LOCAL_TESTING_NOTES.md
  test/tftest/QUICKSTART.md
  test/tftest/README.md
Due: none

fix: add terraform init before terraform test in CI and helper script
  .github/workflows/vm-integration-tests.yml
  test/tftest/run_hcl_tests.sh
Due: none

fix: upgrade Terraform version in CI from 1.7.0 to 1.9.8
  .github/workflows/vm-integration-tests.yml
Due: none

fix(datastore): Make backend fields immutable and exclude from updates (fixes #18)
  .gitignore
  fwprovider/resources/datastores/datastore.go
  test/tftest/datastores/README.md
  test/tftest/datastores/s3_datastore_immutability.tftest.hcl
  test/tftest/datastores/s3_datastore_immutability_main.tf
Due: unit-tests, integration-quick-datastore, integration-s3-aws, integration-s3-b2, integration-s3-scaleway, vm-integration-tests

Update test/tftest/datastores/s3_datastore_immutability.tftest.hcl
  test/tftest/datastores/s3_datastore_immutability.tftest.hcl
Due: none

fix: Update HCL test provider version to match CI build
  test/tftest/datasources/metrics_server_main.tf
  test/tftest/datasources/metrics_servers_main.tf
  test/tftest/datasources/notification_endpoint_main.tf
  test/tftest/datasources/notification_endpoints_main.tf
  test/tftest/datasources/notification_matcher_main.tf
  test/tftest/datasources/notification_matchers_main.tf
  test/tftest/datastores/main.tf
  test/tftest/datastores_datasource/main.tf
  test/tftest/metrics/influxdb_http_main.tf
  test/tftest/metrics/influxdb_udp_main.tf
  test/tftest/notifications/endpoints_and_matcher_main.tf
  test/tftest/notifications/smtp_main.tf
  test/tftest/prune_job_datasource/main.tf
  test/tftest/prune_jobs_datasource/main.tf
  test/tftest/sync_job_datasource/main.tf
Due: none

fix: Move S3 immutability test to separate directory
  .github/workflows/vm-integration-tests.yml
  test/tftest/datastore_immutability/README.md
  test/tftest/datastore_immutability/main.tf
  test/tftest/datastore_immutability/s3_datastore_immutability.tftest.hcl
  test/tftest/datastores/README.md
Due: none

fix: Remove hardcoded PBS endpoint from immutability test
  test/tftest/datastore_immutability/s3_datastore_immutability.tftest.hcl
Due: none
